:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 9em;
  padding: 1em;
  will-change: filter;
  transition: 0.75s;

}
#login-form, #register-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers the form items horizontally */
  justify-content: center; /* This centers the form vertically if the form's parent container allows it */
  margin: auto; /* This can help center the form itself if within another flex container or similar */
  width: 50%; /* Adjust the width as necessary */
}

#login-form input, 
#login-form button,
#register-form input, 
#register-form button {
  margin-bottom: 1vw; /* Adjust spacing between form items */
  width: 50%; /* This sets the width of input and button elements */
}
#rules{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  position: absolute;
}
#rules p{
  margin-top: -15px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}
#chatoptions, #options{
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
}
.optionBtn{
  width: 20vw;
  margin-bottom: 1vw;
  margin-left: 2.5vw;
}
.chatrooms{
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  align-items: center;
  text-decoration: none !important;
  justify-content: center;
  color:white !important;
  /* color: inherit !important; */
}
#chatroom_links{
  margin-bottom: 1vw;
}
#create_chat,#join_chat{
  display: none;
}
.row {
  display: flex;
  justify-content: center;
  text-align: right !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
