/* .montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 00;
  font-style: normal;
} */
:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #F8F9FA;
  background-color: #212529;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}


.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 9em;
  padding: 1em;
  will-change: filter;
  transition: 0.75s;

}
h1{
  font-size: 5vw;
  font-weight: 300;
}
.header_line{
  margin-top: -5px;
  width: 75%;
}
.forms{
  margin-top: 5vw;
}
#login-form{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin: auto;
  width: 50%; 
}
#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin: auto; 
  width: 100vw; 
}
#register-form button{
  width: 40vw; 
  margin-top: 1vw;
}
#register-form input {
  margin: .5vw;
}
#login-form input, 
#login-form button,
#register-form input {
  margin-bottom: 1.25vw; 
  width: 75%; 
}
#rules{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* position: absolute; */
}
#rules p{
  margin-top: -10px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}
#chatoptions, #options{
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
}
.optionBtn{
  width: 25vw;
  margin-bottom: 1vw;
  outline: none !important;
}
.optionBtn:focus {
  outline: none !important;
}
.chatrooms{
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  align-items: center;
  text-decoration: none !important;
  justify-content: center;
  color:white !important;
  /* color: inherit !important; */
}
#chatroom_links{
  margin-bottom: 1vw;
}
#chatroom-name{
  margin-top: -2.5vw;
}
#chatroom-content{
  max-width: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vw;
}
#create_chat,#join_chat{
  display: none;
}
#msg_form{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.message{
  border: 2px solid grey;
  background-color: grey;
  border-radius: 1vw;
  border-bottom-left-radius: 0px;
  padding: 5px;
}
.users-chat-name{
    top: 1vw;
    left: 2px;
    position: relative;
}
.friends-chat-name{
  top: 1vw;
  right: 2px;
  margin-left: 2vw;
  position: relative;
}
.user-message{
  border: 2px solid #498dbb;
  background-color: #498dbb;
  border-radius: 1vw;
  border-bottom-right-radius: 0px;
  padding: 5px;
  margin-left: 21vw;
}
.row {
  display: flex;
  justify-content: center;
  text-align: right !important;
}

a {
  font-weight: 500;
  color: #F8F9FA;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input::placeholder {
  color: #212529;
}

input,
button {
  /* border-radius: 8px; */
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* color: #0f0f0f; */
  /* background-color: #ffffff; */
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  background-color: #6C757D;
  border-radius: 10vw;
  border-color: #F8F9FA;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #495057;
}
button:active {
  border-color: #495057;
  /* background-color: #e8e8e8; */
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  } */
  button:active {
    background-color: #0f0f0f69;
  }

.account_options{
  flex-direction: column;
  display: flex;
}
#account_info, #password_and_security, #delete_account{
  display: none;
}